#sidebar-container {
  >.title {
    padding: 10px 14px;
    font-size: 14px;
    line-height: 50px;
    color: #37352f;
  }

  >.articles-list-container {
    width: 100%;

    >.article-container {
      padding: 6px 14px;
      cursor: pointer;
      color: #37352f;

      >.title {
        font-size: 16px;
        line-height: 30px;
      }

      >.time {
        font-size: 12px;
        line-height: 18px;
      }
    }

    >.article-container.active {
      background-color: #e8e7e4;
      color: black;
    }
  }
}