
#sidebar-container{

  >.title{
    padding: 10px 14px;
    font-size: 14px;
    line-height: 50px;
    color: #37352f;
  }
  >.articles-list-container{
    width: 100%;

    >.article-container{
      padding: 3px 14px;
      cursor: pointer;

      >.title{
        font-size: 14px;
        line-height: 22px;
        color: #37352f;
      }

      &:hover{
        background-color: #e8e7e4;
      }
    }
    >.article-container.active{
      font-weight: bold;
      background-color: #e8e7e4;
    }
    
  }
}